* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*:focus {
  outline: none;
}
body, html {
  height: 100%;
}
body {
  font-family: 'Roboto', sans-serif;
}


.calc {
  padding-top: 50px;
  height: 100%;
  min-height: 550px;
  background-color: #beeaf2;
}

.calc-main {

  width: 270px;
  min-height: 480px;
  margin: 0 auto;
  padding: 15px;
  background-color: #1a1b28;
  box-shadow: 0 10px 40px -10px #000;
}

.calc-header {
  display: block;
  height: 25px;
  background-color: #85b4bd;
  margin-bottom: 15px;
}

/* display */

.calc-display {
  height: 110px;
  background-color: #52a4b3;
  margin-bottom: 15px;
}
.calc-result {
  display: flex;
  justify-content: space-between;
  height: 65px;
  background-color: #fff;
  padding: 15px 5px;
}


/* keybords */


.calc-keyboard {
  display: flex;
  justify-content: space-between;
}
.calc-keyboard-col {
  display: flex;
  flex-direction: column;
}

.btn {
  position: relative;
  width: 50px;
  height: 50px;
  margin-top: 10px;
  font-family: inherit;
  color: #fff;
  background-color: #1e2435;
  font-size: 24px;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.btn:active {
  background-color: #212b42;
}
.btn-big {
  height: 110px;
}
.ops,
.clear {
  background-color: #52c9dc;
}
.ops:active,
.clear:active {
  background-color: #40acbd;
}